<div class="app-title">
    <div>
        <h1><i class="fa fa-edit"></i> จัดการกิจกรรม</h1>
        <p>- จัดการกิจกรรม -</p>
    </div>
    <!-- <a href="activities_add.php?active=activities" class="btn btn-primary">เพิ่มกิจกรรม</a> -->
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button md-no-ink class="md-primary" ng-click='test()'>Primarysss (md-noink)</md-button>
    </section>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="row">
                <div class="col-12 ">
                    <demo-test id="menuId"></demo-test>
                </div>
            </div>
        </div>
    </div>
</div>